<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/favicon.jpeg" type="image/x-icon">
  <title>Kalash Tejendra Gajjar Portfolio - <%= title %></title>
</head>
<body>
  <header>
    <a href="/">
        <img src="images/favicon.jpeg" alt="Logo">
    </a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>