<%- include('partials/header.ejs') %>
    <center><img src="images/profile.jpeg" alt="Kalash Gajjar picture" id="profimg"></center>
    <br>
    <br>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">Kalash Tejendra Gajjar</h2></center>
    <center><h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">CEO, <b>KG Group of Companies</b> | Data Scientist | Entrepreneur </h3></center>

    <p class="stmt">
        Kalash Tejendra Gajjar is a multifaceted professional known for his roles as the CEO and Founder of KG Group of Companies, a Data Scientist at Apple Inc., and as a dynamic entrepreneur who has made strategic investments in various tech startups. With a solid educational background, Kalash earned his degree in Software Engineering Technology with a specialization in Artificial Intelligence from Centennial College, which laid the foundation for his journey in the tech industry.
        <br>
        <br>
        As the CEO and Founder of KG Group of Companies, Kalash Tejendra Gajjar has demonstrated exceptional leadership and vision in building and growing his business empire. This group of companies is likely involved in diverse sectors, showcasing Kalash's versatility as an entrepreneur.
        <br>
        <br>
        Kalash's role as a Data Scientist at Apple Inc. highlights his expertise in the field of data science, a discipline crucial for leveraging data-driven insights to make informed decisions and improve products and services.
        <br>
        <br>
        Beyond his corporate roles, Kalash has distinguished himself as an entrepreneur with a keen eye for promising startups. His investments in various tech startups signify his commitment to fostering innovation and supporting emerging talent within the tech ecosystem.
        <br>
        <br>
        With his unique blend of academic knowledge, corporate experience, and entrepreneurial spirit, Kalash Tejendra Gajjar stands as a dynamic figure in the tech industry, contributing to both established companies and the growth of promising startups. His journey serves as an inspiration to aspiring professionals and entrepreneurs in the field of technology and data science. 
    </p>
    <br>
    <a href="Resume-Kalash Tejendra Gajjar.pdf" target="_blank" class="pdf-button">Kalash Gajjar - Curriculum Vitae</a>
<%- include('partials/footer.ejs') %>