<%- include('partials/header.ejs') %>
    <section class="animated-section">
        <h1 class="reveal-title">Welcome to Kalash Gajjar's Portfolio Website</h1>
    </section>
    <hr style="border-style:solid; border-color:#414042; border-width:2px;" />
    <br>
    <div id='mission-stmt'>
        <h1 style="color: lightgoldenrodyellow;">Mission Statement</h1>
        <br>
        <p class="stmt">At Kalash Gajjar's Portfolio, our mission is to create a digital space where creativity, innovation, and passion coverage.
            We believe that every project is an opportunity to tell a unique story, to explore new possibilities, and to inspire.
            Through our work, we aim to leave a lasting impression, spark curiosity, and foster connections.
            <br>
            <br>
            Our portfolio is a testament to the dedication, skill, and vision that drive us. We are 
            commited to pushing boundaries, embracing challanges, and delivering exceptional results.
            Whether it's through design, development, or storytelling, we strive to exceed expectations
            and make a positive impact.
            <br>
            <br>
            Join us on this journey as we continue to craft compelling experiences, build meaningful 
            relationships, and share our passion with the world. Thank you for visiting, and look forward
            to connecting with you.
            <br>
            <br>
            Explore our portfolio and let's create something extraordinary together.
        </p>
    </div>
    <div id="button">
        <a href="/about" style="text-decoration: none; color: black;">
            Learn more about Kalash Gajjar
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
<%- include('partials/footer.ejs') %>