<%- include('partials/header.ejs') %>
<section class="projects">
    <h2>Projects</h2>
    
    <!-- Project 1 -->
    <div class="project">
        <img src="images/calculator.png" alt="Calculator - GUI C#" class="projectsimg">
        <h3>Calculator - GUI C#</h3>
        <p>A basic C# GUI Calculator application which can seamlessly convert into Scientific mode with help of radio button as per design. This was very first GUI project using C#.</p>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 2 -->
    <div class="project">
        <img src="images/bug.png" alt="Bug Smasher Game" class="projectsimg">
        <h3>Bug Smasher Game - HTML, CSS, JS</h3>
        <p>A basic bug smasher game was made using HTML, CSS and JS. It is just a basic web game anyone can enjoy playing it.</p>
        <a href="https://rose-wandie-57.tiiny.site/" class="btn" target="_blank">Learn More</a>
        <br>
        <br>
        <br>
    </div>

    <!-- Project 3 -->
    <div class="project">
        <h3>Online Food Ordering (ONGOING)</h3>
        <p>We are currently developing a web based and also app based online food ordering platform, using which anyone can order their comfort food anytime and anywhere.</p>
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>